<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Register - Sign In</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" type="text/css" href="/styles/master.css">

	<script type="text/javascript" src="/scripts/master.js" defer></script>
	<!--<script type="text/javascript" src="/scripts/signIn.js" defer></script> -->
</head>

<body>

	<div class="header">
		<h1 class="primary-message">Sign In</h1>
	</div>
		
	<div id="main" class="main">
		<div id="error" th:class="${#strings.isEmpty(errorMessage)} ? hidden : ''">
			<h4 id="errorMessage" class="error-message" th:text="${errorMessage}"></h4>
		</div>

		<form action="/" method="POST" name="SignIn" onsubmit="return validateForm();" class="inputContent">
				<input type="number" name="employeeID" value="" placeholder="EMPLOYEE ID"/><br>
				<div id="employeeID_error" style=""> Please Enter VALID Employee ID</div><br>
				<input type="password" name="password" value="" placeholder="PASSWORD" /><br>
				<div id="password_error"> Please Enter password</div><br>
				<input type="submit" value="SignIn" />
			</form>
			<script>
				//Validation code for form

				const employee_ID = document.forms['SignIn']['employeeID'];
				const password = document.forms['SignIn']['password'];

				let employeeID_error = document.getElementById('employeeID_error');
				let password_error = document.getElementById('password_error');

				employeeID_error.style.display = "none";
				password_error.style.display = "none";

				function validateForm(){

					if((employee_ID.value == "" || !Number(employee_ID.value))
							&& password.value !=""){
						password_error.style.display = "none";
						employeeID_error.style.display = "block";
						return false;
					}
					if(Number(employee_ID.value) && password.value == "" ){
						employeeID_error.style.display = "none";
						password_error.style.display = "block";
						return false;
					}
					if((employee_ID.value == "" || !Number(employee_ID.value))
							&& password.value ==""){
						employeeID_error.style.display = "block";
						password_error.style.display = "block";
						return false;
					}
					return true;
				}
			</script>
	</div>
		
</body>

</html>